body {
    padding:0 !important;
    word-wrap: break-word;
    background:#444;
}
.well {
    background:#fff;
}
#ajax_target_4 {
    margin-bottom:20px;
}
.section_search_results, #section_porting_status {
    display:none;
}
#subsection_query_msisdn_1 {
    border-right:1px dotted #aaa;
}
h2 {
    color:#fff;
    font-size: 20px;
    line-height: 28px;
    padding-left: 5px;
}
span.label2, span.value {
    height:auto !important;
    margin-bottom:3px;
    min-height:auto !important;
}
span.label2 {
    font-weight:bold;
    color:#444;
    font-size:12px;
}
span.value {

}
.border-right {
    border-right:1px dotted #aaa;
}
#customer_form {
 padding-bottom:0;   
}
#sim-origin {
    display:none;
}
#sms_form {
padding:0 20px;
}
#sms_form label {
 text-align:right;
 padding-top:5px;   
 color:#fff;
}
#section_message_customer {
 margin-bottom:15px;   
}
#agent_cell {
 margin-right:0;   
}
#help_module {
    background: none repeat scroll 0 0 #EEEEEE;
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 16px;
    padding: 10px 20px;
    width: 100%;
}

#help_button {
    display:none;
    width:100%;
    text-align:left;
    background:#555;
}
#help_button a {
    text-decoration:none !important;
    color:#eee;
    position:relative;
    left:10px;
}
input[type='text'] {
    margin-right:30px;
}
label {
    display:inline-block;
    margin-right:6px;
    margin-left:15px;
    font-weight:bold;
    margin-bottom:15px !important;
}

#form_wrapper {
    padding-top:0px;
    padding-bottom:10px;
}
#form_wrapper form {
    padding-top:7px;
    background:#fff;
}
#div_button_loading {
    width:20px;
    display:inline-block;
    min-height:1px;
}
#div_button_loading img {
    display:none;
    position:relative;
    top:1px;
}
h3 {
    font-size:16px;
    margin-bottom:8px;
    text-decoration:underline;
    color:#555;
}
.ajax_target {
    padding:12px 20px;
    //margin:0 20px 20px;
}
.container-fluid {

}
#button_wrapper {
    display:inline-block;
    margin-left:15px;
}

#button_cancel_port {
    float:right;
    margin-left:5px;
    margin-right:10px;
}
#customernetworkinfo input[type="text"] {
    margin-right:0px;
}
#section_customer_data {
    padding:12px 20px;
}
table {
    background:#fff;
}
.pagination a {
    background:#fff !important;
}
.dataTables_info {
    color:#ddd;
}
.dataTables_wrapper input, .dataTables_wrapper select {
    display:inline-block;
}
div.dataTables_filter label {
    width:auto;
}

.dataTables_wrapper input, .dataTables_wrapper select, .dataTables_wrapper label {
    margin-bottom:0px !important;
}
.dataTables_wrapper table {
    margin-top:0px !important;
}
.dataTables_wrapper .row-fluid {
    margin-bottom:5px;
}
.dataTables_wrapper .row-fluid label {
    margin-left:0px;
    color:#ddd;
}
.dataTables_filter label, .dataTables_filter input {
    margin-right:0;
}

#section_porting_status h5 {
    display:none;
    padding-bottom:6px;
    color:#fff;
}
#section_porting_status h5 span {
    font-weight:normal;
    color:#ccc;
    font-size:11px;
}

.section_porting_status_auto {
    padding:10px 10px 0px;
    border-radius:6px;
    border:1px solid #E6A2A1;
    margin-bottom:20px;
    margin-top:30px;
}
#section_porting_status.section_porting_status_auto h5 {
    display:block !important;
}