/***********************************/
/*** SEAN'S ADDITIONS START HERE ***/
/***********************************/

form .account_field {
	margin-top:5px !important;	
	margin-bottom:5px !important;
}

.update_account_fields_wrapper {
	
	margin:10px auto;
}
.update_account_fields_wrapper .well {
padding-right:2px;	
}



.update_account_fields_wrapper.ui-accordion-icons .ui-accordion-header a {
padding-left:31px;	
}

.update_account_fields_wrapper .ui-accordion-content {
padding:0 !important;	
}

.update_account_fields_wrapper .form-horizontal .control-label {
width:110px;	
}

.update_account_fields_wrapper .form-horizontal .controls {
margin-left:124px;
}

#update_account_cc_info .well {
padding-right:19px;	
}

#update_account_cc_info.form-horizontal .control-label {
width:140px;	
}

#update_account_cc_info.form-horizontal .controls {
margin-left:154px;
}

.update_account_fields_wrapper .control-group {
	margin-bottom:6px !important;
}
.update_account_fields_wrapper a {
	outline:none;	
}

#update_account_dialog {
display:none;	
}

#update_account_dialog form {
	margin:0 auto;
}

#update_account_dialog form#update_account_cc_info {
	margin-bottom:75px;
}

.update_account_module fieldset {
	padding:0;	
	margin:10px 0 20px;
}

.update_account_module.inactive {
	background:#ccc;
}

.update_account_module.inactive fieldset {
	display:none;
}

.update_account_module_expand {
	display:block;
	float:left;	
	width:100px;
}

.update_account_module_heading h4 {
	float:left;	
}

form .update_account_module_heading.clearfix {
	margin-bottom:2px;	
}

.update_account_fields_wrapper .ui-accordion-content-active {
	height:auto !important;	
}

.update_account_fields_wrapper .ui-accordion .ui-accordion-header h3 {
	margin-top:10px;	
}

form#update_account_cc_info .input.smallFloat {
	width:70px;
	float:left;
	margin-left:10px;	
}

.ui-accordion .ui-accordion-content {
	padding-top:0 !important;
	padding-bottom:0 !important;	
	background:#f5f5f5;
}

.update_account_save_msg {
	float:right;
	position:absolute;
	margin-top:-20px;
}

.update_account_accordian_link {
	float:left;
	width:200px;
	
}

.update_account_fields_wrapper.ui-accordion .ui-accordion-header a {
	font-size:18px;
	font-weight:bold;
	color:#222;
}

.btn {
font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;	
}

.update_account_saved {
	background: none repeat scroll 0 0 #444444;
	float: right;
	margin: 39px 0 0;
	position: absolute;
	right: 74px;
	display:none;
}
.ui-accordion .ui-accordion-header {
height:45px;
overflow:hidden;	
}

.clear {
	clear:both;	
}

h3.ui-accordion-header {
	height:34px;
}

#update_account_cc_xxxx {
	float:left;	
	width:200px;
	display:block;
}

#update_account_cc_change {
	float:left;	
	width:200px;
	display:block;
}

.blue_link {
	position:relative;
	left:8px;	
	color:#2F7CB4 !important;
	font-weight:bold;
}

form div.clearfix.error.account_field {
	margin-bottom:0px !important;	
	margin-top:0px !important;
}

.ui-accordion .ui-accordion-header .ui-icon-triangle-1-e , .ui-accordion .ui-accordion-header .ui-icon-triangle-1-s {
	display:none;	
}

/*#rotate div, div.st_vertical ul.st_tabs li a {
	background:transparent !important;	
}*/

div.st_vertical div.st_tab_view, div.st_vertical div.st_view_container {
background:transparent;	
}



.loader1 {
	
	float: left;
	margin-left: 12px;
	margin-right: 0px;
	padding-top:1px;
	width:25px;
	height:25px;
}
.loader1 img {
	display: none;
}

.account_field label {
	font-weight:bold;	
}

.account_field select.small {
	width:70px;	
}
.account_field select.small option {
	padding-left:10px;	
}

h3.ui-state-active {
	background:#f5f5f5 !important;	
}

form .account_buttons {
	margin:10px 0 !important;	
}

.account_buttons button {
	float:left;
}

.account_save_button {
	margin-left:460px;	
}

.account_cancel_button {
	margin-left:6px;
}

/*#update_account_cc_info label {
	width:140px;	
}*/

#update_account_cc_info .input {
	margin-left:150px;	
}
#update_account_cc_info .help-inline {
padding-left:0px;	
display:none;
}
#update_account_cc_info .error .help-inline {
display:block;	
}

#update_account_cc_info #account_cc_number {
	width:170px;	
}



#change_password_dialog {
display:none;	
}

#change_password_dialog .form-horizontal .control-group,  #loginselect_dialog .form-horizontal .control-group {
margin-bottom:10px;	
}
#change_password_dialog .form-horizontal .controls {
margin-left:222px;	
}

 #loginselect_dialog .form-horizontal .controls {
margin-left:232px;
}

#change_password {
margin-top:10px;
text-align:left;
}

#loginselect .well {
margin-top:10px;	
}

#change_password label {
	width:210px;
	font-weight:bold;
}

.update_account_module label {
	width:148px;
	font-weight:bold;
}
.update_account_module.form-horizontal .controls {
}

.update_account_module.form-horizontal .control-group {
margin-bottom:10px;	
}

form#change_password .input {
	margin-left:270px;	
}

.update_account_module .help-inline {
font-size:11px;	
}



.label.subtle {
	/*display: block;
	font-size: 11px;
	line-height: 15px;
	padding: 3px 7px 4px;
	text-align: center;
	background:#A9E1A9;
	color:#222;
	font-weight:normal;*/
	background: none repeat scroll 0 0 #A9E1A9;
	    color: #222222;
	    display: block;
	    font-size: 13px;
	    font-weight: normal;
	    line-height: 15px;
	    padding: 4px 7px 6px;
	    text-align: left;
	    text-transform: none;
}

.speed_subtle_mid {
 color: #222222;
    font-size: 11px !important;
    line-height: 13px;
    margin: 10px 0 6px;
    text-transform: uppercase;
}

.speed_subtle_label {
width:100px;
float:left;
display:block;
font-weight:bold;
text-align:right;
padding-right:5px;	
}

.speed_subtle_text {
width:538px;
float:left;
display:block;
margin-bottom:2px;

}

#password_char_label {
	width:100%;
	text-align:center;
	margin:0 auto 22px;	
}

#password_save_button {
	margin-left:404px;
	float:left;
}

#password_cancel_button {
	margin-left:4px;	
	float:left;
}
#change_password_dialog .alert {
margin-top:0px;	
}
#password_loader {
	float: left;
	margin-left: 12px;
	margin-right: 0px;
	padding-top: 3px;
	width: 24px;
}

.loader2 {
	display: none;

	}

.password_saved {
	float: right;
	    margin: 11px 0 0;
	    position: absolute;
	    right: 97px;
	    text-align: center;
	    width: 135px;
	display:none;
}

/*form#change_passowrd div.clearfix.error {
padding: 5px 0 0 !important;	
}*/

form#change_password div.account_field {
padding: 4px 0 0 !important;
height:46px;
margin-bottom:4px !important;
margin-top:0 !important;
}

button::-moz-focus-inner {
border: 0 !important;
outline:none !important;
}


#password_buttons {
margin:8px auto 4px;	
}

#password_loader_and_message {
display:none;	
}




.pinless_delete, .pinless_cancel {
width:58px;	
}
.pinless_edit, .pinless_save {
	width:50px;
}


.ht_dialog .clearfix.error {
height:44px !important;

}
.clearfix.error.success {
background-color: #D1EED1 !important;
border-color: #BFE7BF !important;
}
.clearfix.error.success span.help-inline {
	color:#209d1d;
}

form div.clearfix.error.success input {
	border-color: #209d1d !important;
	box-shadow: 0 0 3px #209d1d !important;
}

form .clearfix#pinless_cancel_div {
	margin-bottom:0;
}

#pinless_message_wrapper .alert-message.block-message {
padding:10px;
margin-bottom:0 !important;
}

form .clearfix.pinless_row .input {
margin-left:10px;	
}
form .clearfix.pinless_row {
overflow:hidden;	
max-width:412px;
min-height:36px;
}

#ds_pinless form .clearfix.pinless_row {
	width:372px;
}

#pinless_dial h4 {
	font-size: 15px;
	    height: 28px;
	    margin-left: 74px;
	    text-align: left;
	    width: 180px;
}

.pinless_input {
display:inline-block;	
font-size:14px;
}

#pinless_add {
float:right;
margin:10px 8px 0 65px;
}


#pinless_row_examples {
 background: none repeat scroll 0 0 #EEEEEE;
    border-radius: 8px 8px 8px 8px;
	-moz-border-radius: 8px 8px 8px 8px;
    float: left;
  
    line-height: 15px;
    margin-left: 41px;
    margin-right: 8px;
    padding: 5px 10px 7px;
    text-align: left;
    width: 193px;
}

#pinless_none_added_wrapper {
width:262px;
height:31px;
float:left;
}




#pinless_none_added {
padding-left:77px;
width:252px;
padding-right:10px;
text-align:left;
display:block;
height:15px;
line-height:15px;
padding-top:19px;
}

#ds_right #pinless_none_added {
	width:258px;
}

.pinless_invis_div {
/*float:left;*/
width:220px;
height:36px;
position:relative;
top:-36px;
z-index:999;
margin-left:10px;
}
.pinless_invis_hidden {
z-index:-1;	
}

.pinless_functional {
position:relative;
height:36px;
}

#pinless_dial .alert-message {
text-align:center;	
}

#pinless_message_wrapper {
height:35px;	
}

#loader_pinless, #loader_speed, #loader_auto {
	margin-left:10px;
	float:left;
}

#loader_pinless img, #loader_speed img, #loader_auto img {
	display:none;
}

#pinless_error, #pinless_success {
display:none;	
}

#pinless_cancel_div, #speed_cancel_div {
text-align:right;	
margin-top:15px;
padding-top:15px;
border-top:1px solid #aaa;
}

#pinless_dial fieldset {
margin-bottom:6px !important;	
}

.speed_qtip_link {
cursor:default;	
}
#pinless_qtip_link {
cursor:default;
color: #0a4a69;
font-weight: bold;
	    left: 0;
	    position: relative;
	outline:none;
	text-decoration:underline;
	
}
#pinless_qtip_link:hover {
text-decoration:none;	
}







#switcher_dialog {
background:#fff !important;	
}


#speed_dial_dialog, #pinless_dial_dialog, #auto_dial_dialog {
	display:none;
}

#ds_right_inner #speed_dial_dialog, #ds_right_inner #pinless_dial_dialog, #ds_right_inner #auto_dial_dialog {
	display:block;
}



form#speed_dial_dialog div.clearfix.error, form#pinless_dial_dialog  div.clearfix.error, form#auto_dial_dialog div.clearfix.error { 
margin:0 0 7px;
}

.speed_delete, .speed_cancel {
width:58px;	
}
.speed_edit, .speed_save {
	width:50px;
}
.auto_row .btn, .speed_row .btn, .pinless_row .btn {
	margin-bottom:9px;
}



form .clearfix.speed_row, form .clearfix#speed_row_add, form #speed_message_wrapper {
margin-bottom:8px;
}

#ds_speed form .clearfix.speed_row {
width:717px;
overflow:hidden;	
}

form .clearfix#speed_cancel_div {
	margin-bottom:0;
}

#speed_message_wrapper .alert-message.block-message {
padding:10px;
margin-bottom:0 !important;
}

form .clearfix.speed_row .input {
margin-left:10px;	
}
form .clearfix.speed_row {
height:33px;
overflow:hidden;	
}
#speed_dial h4 {
	font-size: 15px;
	    height: 28px;
}

.speed_dest, .speed_name, .speed_code {
display:inline-block;	
font-size:14px;
}


#speed_none_added_wrapper {
width:543px;
height:31px;
float:left;
}
#speed_none_added {
width:252px;
padding-right:10px;
text-align:right;
display:block;
height:15px;
line-height:15px;
padding-top:14px;
padding-left:0px;
}

#ds_right #speed_none_added {
padding-left:0px;	
}


.speed_invis_div {
width:583px;
height:36px;
position:relative;
z-index:999;
margin-left:10px;
top:-36px;
}
.speed_invis_hidden {
z-index:-1;	
}

.speed_desc, .speed_dest, .speed_end, .speed_code {
margin-right:20px;	
}

.speed_desc {
width:170px;	
}

.speed_functional {
position:relative;
top:0px;
height:36px;
}

#speed_dial .alert-message {
text-align:center;	
}

#speed_message_wrapper {
height:35px;	
display:none;
}

#speed_error, #speed_success {
display:none;	
}

#speed_cancel_div {
text-align:right;	
}

#speed_dial fieldset {
margin-bottom:6px !important;	
}

.speed_code {
width:38px !important;	
}

.speed_prefix, .speed_prefix option {
	font-size:11px !important;
	text-align:left;
	
}


.speed_prefix {
	height: 28px;
	    padding: 4px 2px !important;
	    position: relative;
	    width: 152px !important;
		margin-right:1px;
}
.speed_name {
width:160px !important;	
}
.speed_end {
width:90px !important;	
}

.speed_dest {
width:243px !important;
}


#speed_h4_desc, #speed_h4_dest, #speed_h4_entry {
float:left;
text-align:center;
}

#speed_h4_desc h4, #speed_h4_dest h4, #speed_h4_entry h4, #speed_h4_desc a, #speed_h4_dest a, #speed_h4_entry a {
float:left;
}

.speed_h4_wrapper a {
	float:left;
	display:block;
	width:13px;
	height:13px;
	text-indent:-9999px;
	background:url(../images/icon_question.png) no-repeat 0 0;
	line-height:22px;
	margin:5px 0 0 3px;
	outline:none;
}
.speed_h4_wrapper a:hover {
background-position:0 -13px;	
}

#speed_h4_desc {
	width:204px;
	margin-left:22px;
}
#speed_h4_dest {
	width:278px;
}
#speed_h4_entry {
	width:70px;
}

.speed_prefix, .speed_end {
display:none;	
}










.auto_delete, .auto_cancel {
width:58px;	
}
.auto_edit, .auto_save, .auto_save2 {
	width:50px;
}

form .clearfix.auto_row, form .clearfix#auto_row_add, form #auto_message_wrapper {
margin-bottom:4px;
}


form .clearfix.auto_row, form .clearfix.speed_row, form .clearfix.pinless_row {
height:36px;
margin-bottom:4px;
overflow:hidden;	
}


#ds_auto form .clearfix.auto_row {
width:776px;
overflow:hidden;
}

form .clearfix#auto_cancel_div {
	margin-bottom:0;
}

#auto_message_wrapper .alert-message.block-message {
padding:10px;
margin-bottom:0 !important;
}

form .clearfix.auto_row .input {
margin-left:10px;	
}

#auto_dial h4 {
	font-size: 15px;
	    height: 28px;
}


.ht_dialog .btn, .ht_dialog2 .btn {
	color:#333;
}

.ht_dialog .btn-success, .ht_dialog .btn-primary, .ht_dialog .btn-info, .ht_dialog .btn-danger, .ht_dialog .btn-warning, .ht_dialog2 .btn-success, .ht_dialog2 .btn-primary, .ht_dialog2 .btn-info, .ht_dialog2 .btn-danger, .ht_dialog2 .btn-warning, .ht_dialog .btn-uv, .ht_dialog2 .btn-uv {
	color:#fff !important;
}

#auto_dial .alert-info, #pinless_dial .alert-info, #speed_dial .alert-info {
	margin-top:10px;
}

.auto_dest, .auto_desc, .auto_dnis {
float:left;	
font-size:14px;
}


#auto_add {
float:left;
}

#auto_none_added_wrapper {
width:615px;
height:31px;
float:left;
}
#auto_none_added {
width:252px;
padding-right:10px;
text-align:right;
display:block;
height:15px;
line-height:15px;
padding-top:15px;
}

.auto_invis_div {
width:462px;
margin-right:128px;
height:36px;
top:-36px;
position:relative;
z-index:999;
margin-left:17px;
}
.auto_invis_hidden {
z-index:-1;	
}

.auto_functional {
position:relative;
top:0px;
height:36px;
}

#auto_dial .alert-message {
text-align:center;	
}

#auto_message_wrapper {
height:35px;
display:none;
}

.loader_auto {
display:none;
position: relative;
  left: 2px;
  top: 4px;	
}
#auto_error, #auto_success {
display:none;	
}

#auto_cancel_div {
text-align:right;
margin-top:15px;
padding-top:15px;
border-top:1px solid #aaa;
}

#auto_dial fieldset {
margin-bottom:6px !important;	
}

.auto_dnis {
width:130px !important;	
text-align:center;
}

.auto_prefix, .auto_prefix option {
	font-size:11px !important;
	text-align:left;
	
}


.auto_prefix {
	height: 28px;
	    padding: 4px 2px !important;
	    position: relative;
	    width: 152px !important;
		margin-right:1px;
}
.auto_desc {
width:140px !important;	
}
.auto_end {
width:120px !important;	
}

.auto_dest {
width:273px !important;
}


#auto_h4_desc, #auto_h4_dest, #auto_h4_entry {
float:left;
text-align:left;
}

#auto_h4_desc {
	width:172px;
	margin-left:23px;
}
#auto_h4_dest {
	width:307px;
}
#auto_h4_entry {
	width:133px;
}

.auto_prefix, .auto_end {
display:none;	
}

.auto_no_delete .auto_delete {
display:none !important;	
}

#ds_wrapper {
	background: none repeat scroll 0 0 #FFFFFF;
	margin: 10px 10px 0;
	padding: 10px 6px 0;
	width: 938px;}

#ds_left {
float:left;	
width:100px;
padding-top:13px;
}

#ds_left a {
	text-align:center;
	display:block;
	padding:13px 3px;
	outline:none;
	margin:3px 0;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	background:#3A87AD;
	font-size:13px;
	font-weight:bold;
	color:#fff;

}
#ds_left a.active {
	background:#eee;
	font-weight:bold;
	border:1px solid #ddd;
	position:relative;
	right:-1px;
	border-right:#eee;
	z-index:100;
	color:#222;
}

#ds_pinless {

}

#ds_right {
float:left;
width:830px;
background:#eee;
border:1px solid #ddd;
border-radius:8px;
position:relative;
}

#ds_right #pinless_dial fieldset, #ds_right #speed_dial fieldset {
margin-top:0px;	
padding-top:0px;
}

#ds_right #auto_dial fieldset {
	margin-top:0px;	
	padding-top:0px;
}
#ds_right #password_char_label {
width:100%;	
margin-bottom:16px !important;
}



#ds_right form .pinless_invis_div {
	margin-left:0;	
}

#speed_row_wrapper_wrapper {
	padding:10px;
	border:2px solid #AAAAAA;
	border-radius:10px;
	width:737px;
	background:#fff;
}

#auto_row_wrapper_wrapper {
	padding:10px;
	border:2px solid #AAAAAA;
	border-radius:10px;
	width:776px;
	background:#fff;
}


#pinless_row_wrapper_wrapper {
	padding:10px;
	border:2px solid #AAAAAA;
	border-radius:10px;
	width:474px;
	background:#fff;
}

#ds_right form #pinless_row_wrapper_wrapper {
	padding:10px;
	border:2px solid #AAAAAA;
	border-radius:10px;
	width:474px;
	background:#fff;
}

#pinless_row_wrapper {
width:392px;
height:210px;
overflow:auto;
margin-left:52px;
padding-bottom:10px;
overflow-x:hidden;
}
.jspHorizontalBar {
display:none !important;	
}

#speed_row_wrapper {
width:737px;
height:210px;
overflow:auto;
padding-bottom:10px;
}

#auto_row_wrapper {
width:776px;
height:210px;
overflow:auto;
padding-bottom:10px;
}


#ds_right #pinless_add {
	float:right;
	margin-right:91px;
	margin-left:0px;
}


#speed_add {
float:right;
margin-right:44px;
margin-top:10px;
}


#ds_right #speed_add {
}

#auto_add {
float:right;
margin-right:68px;
margin-top:10px;
}




#auto_dial .label.subtle, #speed_dial .label.subtle, #pinless_dial .label.subtle, #ds_right .label.subtle {
	background: none repeat scroll 0 0 #B0DCF1;
	border: 1px solid #AAAAAA;
	border-radius: 8px 8px 8px 8px;
	color: #000000;
	display: block;
	font-weight: normal;
	line-height: 18px;
	padding: 8px;
	text-align: left;
	text-transform: none;
}


#ds_right #auto_dial .label.subtle {
	font-size:13px;
}
#ds_right #pinless_inner {
width:498px;
margin:0 auto;	
}

#ds_right #speed_inner {
	width:761px;
	margin:0 auto;
}
#speed_close {
margin-left:664px;	
}
#ds_right #speed_close {
display:none;	
}

#ds_right #pinless_cancel_div, #ds_right #speed_cancel_div, #ds_right #auto_cancel_div {
display:none;	
}

#ds_right {
height:405px;
overflow:hidden;	
}
#ds_right_inner {
height:1350px;
position:relative;
top:0;
}
.ds_right_section {
height:375px;
padding:15px;
}







div.dataTables_length label {
/*    width: 460px;*/
    float: left;
    text-align: left;
}
 
div.dataTables_length select {
    width: 75px;
}
 
div.dataTables_filter label {
    float: right;
    width: 300px;
}
 
div.dataTables_info {
    padding-top: 8px;
}
 
div.dataTables_paginate {
    float: right;
    margin: 0;
}
 
table {
    margin: 1em 0;
    clear: both;
}


.datepicker {
z-index:9999 !important;
}

#reports_dialog {
/*height:500px;	
width:900px;
margin:-250px 0 0 -450px*/
}
#reports_dialog .tabs {
margin-bottom:0;	
}
#reports_dialog_inner {
margin:10px;	
}
#report_tabs {
margin-bottom:0;	
}
#report_tabs a {
outline:none;	
}
.report-ctrl {
width:275px;
float:left;
padding:10px 0 0 10px;	
}
.report-ctrl-last {
position:relative;
top:-3px;	
}
.report-ctrl-bottom {
width:400px;	
}
.report-ctrl select, .report-ctrl input {
display:inline-block;
position:relative;
top:2px;
}

#reports_header {
margin:20px 0;	
}

.dataTables_wrapper {
}

.report_inner {
	border:1px solid #ddd;
	border-top:0px;	
	border-radius:4px;
	padding:10px;
}
#report1 {
}

.report_instruct {
width:100%;
text-align:center;
font-size:18px;
margin:40px 0;	
height:32px;
line-height:32px;
}

.report_loader {
width:100%;
text-align:center;
margin:40px 0;	
display:none;
}

.pill-content {
	clear:both;
}

.reports_header_label {
display:block;
float:left;
text-align:right;
padding-right:4px;
width:156px;
font-size:14px;
font-weight:bold;
line-height:26px;
}

#reports_count_minutes, #reports_count_calls {
	display: block;
	    float: left;
	    font-size: 14px;
	    font-weight: normal;
	    line-height: 26px;
	    padding-left: 2px;
	    text-align: left;
	    width: 50px;
}
#reports_header_row_stat {
border-top: 1px solid #AAAAAA;
    display: none;
    margin-top: 5px;
    padding-top: 5px;
}

#reports_header_row_count1 {
}

#reports_stat_row_1 {
	
}

#reports_stat_row_2 .reports_header_label {
width:120px;	
}

.DTTT_container {
padding-top:4px;
margin-bottom:3px !important;	
}


#reports_account_num {
}
.reports_header input {
float:left;	
}
.reports_header_row {
margin:5px 0;

}
.reports_header_row input {
width:90px;
margin-bottom:0;	
}

#reports_userinfo {
 border-radius: 10px 10px 10px 10px;
    float: left;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 24px;
    margin-left: 110px;
}

#reports_header_row_stat .reports_header_row3 {
	width:230px;
	float:left;
}
#reports_settings {
 background: none repeat scroll 0 0 #EEEEEE;
    border-radius: 10px 10px 10px 10px;
    float: left;
    padding: 10px;
    margin-left: 10px;
}
#reports_dates {
float:left;
width:276px;	
}
#create_report {
float:left;
margin-top:15px;
margin-left:19px;
}

.reports_header_row2 {
	height: 19px;
	    margin-top: 0;
	    text-align: center;
}

.report_wrapper tbody tr th {
text-align:center;	
}


.report_wrapper tbody tr td {
font-size:11px;
text-align:right;
}
.report_wrapper tbody tr td.col_date {
width:60px;	
}
.report_wrapper tbody tr td.col_time {
width:60px;	
}
.report_wrapper tbody tr td.col_desc {
width:200px;	
text-align:left;
}
.report_wrapper tbody tr td.col_desc div {
	height:18px;
	overflow:hidden;
}
.report_wrapper tbody tr td.col_ani {
width:60px;	
}
.report_wrapper tbody tr td.col_minutes {
width:60px;	
}
.report_wrapper tbody tr td.col_rate {
width:60px;	
}
.report_wrapper tbody tr td.col_amount {
width:60px;	
}

#ttbuy_dialog, .ttreport_dialog {
display:none;	
}

.ttreport_dialog {
min-height:430px !important;	
}


.ttreport_inner {
padding:10px;
min-height:200px;

}

.ttreport_inner .row {
margin-bottom:13px;	
}
.ttreport_inner thead th {
font-size:12px !important;	
}
.ttreport_inner tbody td {
font-size:11px;	
}

.tt3, .tt4, .tt6 {
	text-align:right;
}

.tt3 {
	width:60px;
}

.tt4 {
width:60px;	
}

.tt5 {
color:#444;
font-weight:bold;	
}

.tt5.in_progress {
	color:#46A546;
	font-weight:bold;
}

.tt5.rejected {
	color:#C43C35;
	font-weight:bold;
}

#ttbuy_inner {
padding:15px;
min-height:200px;
font-size:13px;
}

#ttbuy_inner .buttonbox {
min-height:250px;	
}

#ttbuy_msisdn_prefix {
float:left;
width:80px;
}

#ttbuy_msisdn_end {
	float:left;
	margin-left:6px;
}

#ttbuy_change_msisdn {
float:left;
margin-left:6px;
}

#ttbuy_check_msisdn {
float:left;
margin-left:6px;
display:none;
}
#ttbuy_inner input, #ttbuy_inner select, #ttbuy_inner option, #ttbuy_inner textarea {
font-size:12px !important;	
}

#ttbuy_msisdn {
margin-top:2px;	
}

#ttbuy_msisdn_confirmed {
color:#933285;
font-size:15px;
font-weight:bold;
margin-left:0px !important;
width:100%;
text-align:center;
margin-top:12px;	
padding-top:12px;
border-top:1px solid #aaa;
}

#ttbuy_left.not div{
color:#ccc !important;	
}
#ttbuy_left.not.rejected div#ttbuy_msisdn_confirmed {
	color:#c61e1e !important;
}

#ttbuy_mid.not * {
	color:#ccc !important;	
}
#ttbuy_right.not {
	color:#ccc !important;	
}
#ttbuy_right .span2 {
width:97px;	
}


#ttbuy_left span.label {

}
#ttbuy_left.not span {
color:#ccc !important;
background:#ccc !important;	
text-shadow: none !important;
}

#ttbuy_left.not #ttbuy_msisdn span {
color:#404040 !important;
background:transparent !important;
}

#ttbuy_operator {
margin-top:12px;	
padding-top:12px;
border-top:1px solid #aaa;
text-align:center;
}

#ttbuy_rate {
	margin-top:12px;	
	padding-top:12px;
	padding-bottom:10px;
	border-top:1px solid #aaa;
	text-align:center;
}

#ttbuy_msisdn_end {
width:90px;	
}

#ttbuy_left, #ttbuy_mid, #ttbuy_right {
float:left;
padding:10px !important;
}
#ttbuy_left {
width:320px;
margin-right:12px;
}
#ttbuy_mid {
width:235px;
margin-right:12px;
margin-bottom:12px;
}
#ttbuy_right {
width:225px;
}
#ttbuy_right div {
float:left;	
}
#ttbuy_operator span.label, #ttbuy_rate  span.label {
	color:#fff;
	text-transform:uppercase;
}

#ttbuy_amount {
margin-top:2px;
}
#ttbuy_amount select {
width:100%;
}

#ttbuy_amount option {
	
}

.ttbuy_mid_header {
color:#404040;
font-weight:bold;
font-size:13px;	
margin-bottom:5px;
display:block;
}

#ttbuy_mynumber {
margin-top:12px;
}
#ttbuy_mynumber input {
width:225px;
}

#ttbuy_sms {
margin-top:12px;
margin-bottom:5px;
}
#ttbuy_sms textarea {
width:225px;
font-size:12px;
height:38px;
}

#ttbuy_remaining {
	text-align:right;
}
#ttbuy_remaining_label {
	font-size:12px;
	position:relative;
	top:1px;
}

.not #ttbuy_remaining span.label {
background:#ccc !important;
}
#ttbuy_remaining span.label {
}

#ttbuy_base, #ttbuy_tax, #ttbuy_total {
	float:right;
	text-align:right;
	margin-right:0 !important;
}

#ttbuy_base_div {
	
}
#ttbuy_tax_div {
	margin-top:6px;
}
#ttbuy_total_div {
margin-top:6px;
padding-top:6px;
border-top:1px solid #aaa;	
font-weight:bold;
}

#ttbuy_right_buttons {
text-align:left;	
margin-top:20px;
margin-bottom:12px;
}
#ttbuy_buy {
margin-left:0px;	
float:left;
}
#ttbuy_cancel {
float:left;
margin-left:4px;
}
#ttbuy_submit_error {
display:none;
padding:7px;
}
#ttbuy_submit_error p {
	color: #222222;
	    font-size: 12px;
	    line-height: 15px;
	    margin-right: 0 !important;
	    text-align: center;
}

#ttbuy_submit_success {
display:none;
padding:7px;
}
#ttbuy_submit_success p {
	color: #222222;
	    font-size: 12px;
	    line-height: 15px;
	    margin-right: 0 !important;
	    text-align: center;
}

#ttbuy_loader1_div {
padding: 4px 0 0 6px;
float: left;
}
#ttbuy_loader1_div img, #ttbuy_loader2_div img {
display:none;	
}

#ttbuy_loader2_div {
	padding: 8px 8px 0 10px;
	float: left;	
	width:26px;
}
#ttbuy_loader3_div {
	padding: 3px 0 0 6px;
	float: left;	
	width:20px;
}
#ttbuy_loader3_div img {
	display:none;
} 

#transferto_check_number_btn {
float:left;	
}
#transferto_clear_btn {
float:left;	
margin-left:4px;
}

.ttreport_sent_th {
text-align:center;
line-height:15px;
}


.ttreport_charged_th {
text-align:center;
line-height:15px;	
}

.ttreport_open .tt6 {
	text-align:left;
}

.ttreport_open table td {
line-height:26px;	
}


.tt6 {
	text-align:left;
}
.ttreport_open {
margin-bottom:60px;	
}

.ttreport_refresh {
float:right;	
}

.ttreport_inner h3 {
width:300px;
float:left;
line-height:25px;
}

.tt7 {
	padding: 8px 0;
	    text-align: center;
	    width: 118px;
}

.ttreport_refresh_loader {
display:none;
text-align:center;
width:100%;
padding-top:180px;	
}

.ttreport_open_btn {
	color:#3db0e9;
}
.ttreport_open_btn:hover {
	color:#3db0e9;
}

.ttreport_past_info {
	color: #777;
	    display: block;
	    float: right;
	    font-size: 12px;
	    line-height: 16px;
	    text-align: right;
	    height: 16px;
	    padding-top: 9px;
}

#ttbuy_top .buttonbox {
/*text-shadow:none !important;*/	
}

.not #ttbuy_buy {
background:#ccc !important;	
}

.not #ttbuy_amount option, .not #ttbuy_amount select {
	text-indent:-9999px;
}

.not #ttbuy_base, .not #ttbuy_tax, .not #ttbuy_total {
text-indent:9999px;
overflow:hidden;
}

#ttcancel_inner {
padding:18px 10px;
}

#ttcancel_inner p {
	font-size: 13px;
	    line-height: 16px;
	    margin: 0 auto 13px;
	    text-align: center;
	    width: 414px;
		text-align:left;
	}

#ttcancel_inner a {
display:block;
float:right;	
}

#ttcancel_keep_btn {
margin-left:22px;
margin-right:6px;	
}

#ttcancel_inner .row {
margin-top:20px;	
}

#ttbuy_show_reports {
font-weight:bold;
color:#46A546;	
}

.ttreport_norders {
font-size:12px;
padding:10px 0 0 0;
color:#444;	
}

.ui-widget {
font-family:inherit !important;	
}

#transferto_status {
margin-top:10px;
padding-top:10px;
border-top:1px #aaa solid;
width:298px;
display:none;
padding-bottom:4px;
}

#transferto_status_loader {
float:left;
width:16px;
padding:1px 6px 0 0;	
height:16px;
}
#transferto_status_loader img {
display:none;	
}
#transferto_status_right {
float:left;
width:276px;
font-weight:bold;
}

#transferto_home_error {
width:269px;
margin-top:6px;	
display:none;
}

#ttcancel_loader {
padding: 8px 5px 0 7px;
float: right;
width:16px;
}

#ttcancel_loader img {
display:none;
}

.report_wrapper tbody tr td.dataTables_empty {
	color: #D52727 !important;
	    font-size: 13px;
	    font-weight: bold;
	    padding: 25px;
	    text-align: center;	
}

#loginselect_header {
	
}

#loginselect_header p {
	margin-bottom:14px;
	font-size:14px;
	font-weight:bold;
}

#loginselect_label {
	margin:30px 0;
}

#loginselect label {
width:220px;	
font-weight:bold;
}
#loginselect .account_field {
margin-bottom:8px;	
}

#loginselect_save_button {
	margin-left:0px;
}

#loginselect_cancel_button {
	margin-left:6px;	
}

#loginselect_loader {
width:24px;
margin-left:256px;
float:left;
height:16px;
}


.loginselect_saved {
	float: right;
	    margin: 11px 0 0;
	    position: absolute;
	    right: 97px;
	    text-align: center;
	    width: 135px;
	display:none;
}

#loginselect_buttons {
float:right;
width:455px;
}

#ttcancelsent_inner {
padding:10px;	
text-align:center;
}

#ttcancelsent_inner p {
	margin-bottom:20px;
}

#ttcancelsent_inner a {
	
}

#ttcancel_countdown {
padding-right:28px;
padding-top:4px;	
}

#ttcancel_countdown_loader {
	float:right;
	margin-left:20px;
	padding-right:4px;
}
#ttcancel_countdown_loader img {
position:relative;
top:4px;
display:none;
}

#ttcancel_countdown span {
font-size:12px;
color:#666;
display:block;
float:right;	
}

.ht_dialog  form div.clearfix.error {
  border-radius: 4px 4px 4px 4px;
  margin: 0 0 12px;
  padding: 10px 0;
}

.ht_dialog  form div.clearfix.error > label, .ht_dialog  form div.clearfix.error span.help-inline, .ht_dialog  form div.clearfix.error span.help-block {
  color: #9D261D;
}

.ht_dialog .help-inline {
  padding-left: 5px;
	position:relative;
	top:-7px;
}

.ht_dialog  .help-inline, .ht_dialog  .help-block {
  font-size: 11px;
  line-height: 18px;
display:none;
clear:both;
}

.ht_dialog  .control-group.error input, .ht_dialog  .control-group.error select, .ht_dialog  .control-group.error textarea {
color:#3F3F3F;	
}
.ht_dialog  .control-group.error .help-inline, .ht_dialog  .control-group.success .help-inline {
display:inline;	
}
.ht_dialog .error {
background:#FAE5E3;
}
.ht_dialog .clearfix.error.success span.help-inline {
    color: #209D1D;
}

.ht_dialog .nav-tabs {
margin-bottom:0px;	
}
.ht_dialog form, .ht_dialog2 form {
	font-size:13px;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.ui-widget-overlay {
/*opacity:.55;
background:#aaa;*/
background:#000;
opacity:.8;
}
.ui-dialog {
border: none;
/*z-index:1050 !important;*/
}


#debit_increment {
	position:absolute;
	top:12px;
	right:20px;
	z-index:5000;
	width:50px;
}
#debit_increment2 {
	position:absolute;
	top:12px;
	right:20px;
	z-index:5000;
	width:50px;
}

.navbar-fixed-top {
z-index:999;	
}

#cc-control-group {
	padding-top:8px;
	height:48px;
}

#topup_dialog {
	padding:20px;
}
#topup_dialog label {
	font-weight:bold;
}
#topup_dialog .control-group {
margin-bottom:12px;	
}
.topup_right {
margin-left:22px;
padding-top:5px;
font-size:13px;
float:left;
/*color:#522260;*/
}
#topup_div_base label, #topup_div_tax label {
font-weight:normal;
}
#topup_div_base {
margin-bottom:0px !important;	
}
#topup_div_base label, #topup_div_tax label {
margin-bottom:0;
padding-top:2px;
}
#topup_div_base .topup_right, #topup_div_tax .topup_right {
	padding-top:2px;
}
#topup_div_tax {
margin-bottom:0px !important;
padding-bottom:1px;	
}
#topup_div_tax .topup_right {
	border-bottom:1px solid #888;
}
#topup_div_total .topup_right {
font-weight:bold;	
}
#topup_div_account {
margin-bottom:0px !important;	
}
#topup_div_account label {
margin-bottom:0px;	
}
#topup_div_exp label, #topup_div_exp .topup_right {
padding-top:3px;	
}
#topup_div_total label, #topup_div_total .topup_right {
padding-top:2px;	
}
#topup_div_card {
margin-bottom:0px !important;	
}
#topup_div_total {
margin-bottom:4px !important;	
}

#topup_cost_wrapper {
	background: none repeat scroll 0 0 #F7DAF3;
	border: 1px solid #F2BDEB;
	border-radius: 7px 7px 7px 7px;
	margin-bottom: 11px !important;
	padding: 6px 0 0 !important;
	margin-left:60px !important;
	width:200px;
}
#topup_cost_wrapper label {
width:100px !important;
}

#topup_purchase_button {
	float: left;
	 margin-left: 200px;
}

#topup_cancel_button {
	float:left;
	margin-left:4px;
}

#topup_loader {
  float:left;
  margin-left: 12px;
  padding-top: 3px;
  min-width: 24px;
}
#topup_amount {
width:82px;	
}

#topup_well .control-label {
width:160px;
}

#topup_well .controls {
margin-left:180px;	
}


#topup_success {
position:absolute;
top:219px;
right:85px;	
z-index:-100;
}

#topup_error {
	position: absolute;
	right: 51px;
	text-align: center;
	top: 203px;
	width: 140px;
	z-index:-100;
}
#topup_error p {
	color: #444444;
	font-size: 12px;
	font-weight: bold;
	line-height: 13px;
	margin-top: 5px;
}
#topup_loader2 {
margin-top:6px;
display:none;
}
#ccv-control-group {
height:45px;
margin-bottom:0px !important;	
}

.ht_dialog input, .ht_dialog .btn, .ht_dialog select {
float:left;
display:block;
zoom:1;
}

.pinless_functional .btn, .speed_functional .btn, .auto_functional .btn {
margin:0 4px 12px 0px !important;

}
.pinless_functional input, .speed_functional input, .auto_functional input {
margin:0 4px 9px 0px !important;

}

.speed_functional input.speed_desc, .speed_functional input.speed_end, .speed_functional input.speed_code, .speed_functional input.speed_dest {
margin-right:25px !important;	
}

.auto_functional input.auto_desc, .auto_functional input.auto_end, .auto_functional input.auto_dest {
margin-right:25px !important;	
}


#pinless_cancel {
margin-left:398px;	
}

#auto_close {
	margin-left:677px;
}